
*.csproj
*.targets
калькулятор/obj/калькулятор.csproj.nuget.g.props
калькулятор/obj/калькулятор.csproj.nuget.dgspec.json
калькулятор/obj/project.nuget.cache
калькулятор/obj/project.assets.json
калькулятор/obj/Debug/net8.0/калькулятор.pdb
калькулятор/obj/Debug/net8.0/калькулятор.GlobalUsings.g.cs
калькулятор/obj/Debug/net8.0/калькулятор.genruntimeconfig.cache
калькулятор/obj/Debug/net8.0/калькулятор.GeneratedMSBuildEditorConfig.editorconfig
калькулятор/obj/Debug/net8.0/калькулятор.dll
калькулятор/obj/Debug/net8.0/калькулятор.csproj.FileListAbsolute.txt
калькулятор/obj/Debug/net8.0/калькулятор.csproj.CoreCompileInputs.cache
калькулятор/obj/Debug/net8.0/калькулятор.csproj.BuildWithSkipAnalyzers
калькулятор/obj/Debug/net8.0/калькулятор.assets.cache
калькулятор/obj/Debug/net8.0/калькулятор.AssemblyInfoInputs.cache
калькулятор/obj/Debug/net8.0/калькулятор.AssemblyInfo.cs
калькулятор/obj/Debug/net8.0/refint/калькулятор.dll
калькулятор/obj/Debug/net8.0/ref/калькулятор.dll
калькулятор/obj/Debug/net8.0/apphost.exe
калькулятор/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
калькулятор/bin/Debug/net8.0/калькулятор.runtimeconfig.json
калькулятор/bin/Debug/net8.0/калькулятор.pdb
калькулятор/bin/Debug/net8.0/калькулятор.exe
калькулятор/bin/Debug/net8.0/калькулятор.dll
калькулятор/bin/Debug/net8.0/калькулятор.deps.json
калькулятор.sln
